@charset "UTF-8";

/* A verdadeira dúvida escondida nesse código: "por que?" */

@font-face {
    font-family: amongtitle;
    src: url(AmongUs-Regular.ttf);
}
*{
padding: 0px;
margin: 0px;
}

:root{
    --banner-color: #080808;
    --back-color: #1d1d1d;
    --in-color: #1d1d1d;
    --font-color: white;
    --in-int-color: #2b2a2a;
    --nav-hover-color: #ffffff50;
    --shadow-color:white;
}

.light-theme{
    --banner-color: #f3f3f3;
    --back-color: #ffffff;
    --in-color: white;
    --font-color: rgb(0, 0, 0);
    --in-int-color: #dadada;
    --nav-hover-color: #20202050;
    --shadow-color:rgb(0, 0, 0);
}

body {
    margin: 0px;
    background-color: var(--in-color);
    background-image: url(/imagens/fundo.gif);
    background-repeat: no-repeat;
    background-size: 100%;
}


header {
    position: relative;
    overflow: hidden;
    max-height: 90px;
    min-width: 380px;
    box-shadow: 0px 1px rgb(0, 0, 0);
    background-color: var(--banner-color);
    box-shadow: 0px -1px 10px var(--shadow-color);
}

header h1{
    padding-top: 12px;
    font-size: 40px;
    text-align:center;
    color: var(--font-color);
    font-family: amongtitle;
}

header picture {
    position: absolute;
    top: 15px;
    left: 20px;
    cursor: pointer;
}

nav {
    margin-top: 10px;
    text-align: right;
}

nav a {
    padding: 5px 10px;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    color: var(--font-color);
    border-radius: 6px;
    transition: 150px;
}

nav a:hover {
    background-color: var(--nav-hover-color);
    transition: 150ms;
}

nav a.hell::after {
    content: '\00A0\P';
}
nav a.hell:hover::after {
    content: '\00A0\L';
}

/*Main*/

main {
    border: 5px solid var(--font-color);
    position: relative;
    min-width: 600px;
    max-width: 1100px;
    margin: auto;
    background-color: var(--in-color);
    margin-top: 10px;
    margin-bottom: 7px;
    border-radius: 7px 7px 7px 7px;
    box-shadow: 2px 2px 10px var(--shadow-color);
}

main h1 {
    border: #dadada;
    text-align: center;
    color: var(--font-color);   
    font-size: 40px;
    margin-bottom: 10px;
}

main p {
    text-align: justify;
    color: var(--font-color);
    font-size: 20px;
    padding: 10px 10px 10px 10px;
    position: relative;
    text-indent: 10px;
    line-height: 30px;
}
img#capa {
    margin: 0px 10px 0px 15px;
    float: left;
    position: static;
}
img#ENZO{
    display: block;
    position: static;
    margin-left: auto;
    margin-right: auto;
}
